<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <title>HandiEase - Articles</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>HandiEase</h1>
        <div class="topnav">
            <nav>
                <a href="homepage">Accueil</a>
                <a href="articles">Actualités</a>
                <a href="search">Recherche</a>
                <button><a href="login-register">Connexion</a></button>
                <button><a href="profil">Profil</a></button>
            </nav>
        </div>
    </header>
    <main>
    <h2>Articles</h2>
        <ul>
            {% for article in articles %}
                <li>
                    <h3><a href="{{ article.link }}" target="_blank">{{ article.title }}</a></h3>
                    <p>{{ article.summary|safe }}</p>
                    {% if article.image_url %}
                        <img class="article-image" src="{{ article.image_url }}" alt="{{ article.title }}">
                    {% endif %}
                    {% if article.published %}
                        <p><strong> Publié le: </strong>{{ article.published }}</p>
                    {% endif %}
                    {% if article.source %}
                        <p><strong> Source: </strong>{{ article.source }}</p>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </main>
</body>
</html>