<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <title>HandiEase</title>
    </head>
    <body>
        <h1>HandiEase</h1>
        <div class="topnav">
            <nav>
                <a href="homepage">Accueil</a>
                <a href="articles">Actualités</a>
                <a href="search">Recherche</a>
                <button><a href="login-register">Connexion</a></button>
                <button><a href="profil">Profil</a></button>
            </nav>
        </div>
        <h2>Favoris</h2>
        <button><a href="bookmark">Favoris</a></button>
    </body>
</html>