{% load admin_urls %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>HandiEase</title>
</head>
<body>
    <h1><a href="{% url 'homepage' %}">HandiEase</a></h1>
    <div class="topnav">
        <nav>
            <a href="{% url 'homepage' %}">Accueil</a>
            <a href="{% url 'articles' %}">Actualités</a>
            <a href="{% url 'search' %}">Recherche</a>
            <a href="{% url 'register' %}">Connexion</a>
            <a href="{% url 'profil' %}">Profil</a>
        </nav>
    </div>
    <h2>A Propos</h2>
    <p>Contenu de la section "A Propos" à remplir.</p>
</body>
</html>