{% load admin_urls %}
{% load static %}

<!DOCTYPE html>
<html lang="fr-FR">
<head>
    <meta charset="UTF-8">
    <title>HandiEase</title>
</head>

<body>
    <header>
        <!-- Nav Bar -->
        <div class="topnav">
            <nav>
                <h1>HandiEase</h1>
                <form method="get" action="{% url 'homepage' %}">
                    <input type="text" name="q" placeholder="Rechercher...">
                    <button type="submit">Rechercher</button>
                </form>
                <button>Connexion</button>
            </nav>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="section">
        <h2>A Propos</h2>
        <p>Contenu de la section "A Propos" à remplir.</p>
    </section>

    <!-- Articles Section -->
    <section if="articles" class="section">
        <h2>Actualités</h2>
        <ul>
            {% for article in articles %}
                <li>
                    <h3><a href="{{ article.link }}" target="_blank">{{ article.title }}</a></h3>
                        <p>{{ article.summary|safe }}</p>
                    {% if article.published %}
                        <p><strong> Publié le: </strong>{{ article.published }}</p>
                    {% endif %}
                    {% if article.source %}
                        <p><strong> Source: </strong>{{ article.source }}</a></p>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>

        <!-- Article Pagination -->
        <div class="pagination">
            <span class="step-links">
                {% if articles.has_previous %}
                    <button><a href="?q={{ query }}&page=1">&laquo; Première</a></button>
                    <button><a href="?q={{ query }}&page={{ articles.previous_page_number }}">Précédente</a></button>
                {% endif %}

                <span class="current">
                    Page {{ articles.number }} de {{ articles.paginator.num_pages }}.
                </span>

                {% if articles.has_next %}
                    <button><a href="?q={{ query }}&page={{ articles.next_page_number }}">Suivante</a></button>
                    <button><a href="?q={{ query }}&page={{ articles.paginator.num_pages }}">Dernière &raquo;</a></button>
                {% endif %}

                {% if not articles.has_next %}
                    <span class="back-to-home">
                        <button><a href="{% url 'homepage' %}">Retour</a></button>
                    </span>
                {% endif %}
            </span>
        </div>
    </section>

    <!-- List Section -->
    <section id="liste" class="section">
        <h2>Liste de lecture</h2>
        <p>Contenu de la section "Liste de lecture" à remplir.</p>
    </section>
</body>

<footer>
    <h4>Disclaimer</h4>
        <p>Les informations présentées sur ce site sont agrégées à partir de divers flux RSS de sources externes.
            Nous ne possédons ni ne contrôlons le contenu original des articles, et les droits d'auteur de chaque article appartiennent à leurs auteurs respectifs.
            Chaque titre et description d'article contient un lien vers le site d'origine, où vous pouvez consulter l'article complet.
            Nous ne sommes pas responsables des contenus, opinions ou informations présentés sur les sites externes.
            Ce site a été créé dans le cadre d'un projet étudiant sans aucun but lucratif. Si vous êtes le propriétaire du contenu et avez des questions
            ou des préoccupations concernant l'utilisation de votre contenu sur notre site, veuillez me contacter directement [arwendumont06@gmail.com] pour résoudre la situation. </p>
</footer>
</html>