{% load admin_urls %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
</head>
<body>
    <h1>Search</h1>
    <div class="topnav">
        <nav>
            <a href="homepage">Accueil</a>
            <a href="articles">Actualités</a>
            <a href="search">Recherche</a>
            <button><a href="login-register">Connexion</a></button>
            <button><a href="profil">Profil</a></button>
        </nav>
    </div>
    <div class="search-form">
        <form id="search-form" method="get" action="{% url 'search_results' %}">
            <input type="text" name="q" placeholder="Search..." value="{{ query }}">
            <select name="category">
                <option value="">All Categories</option>
                <option value="articles" {% if category == 'articles' %}selected{% endif %}>Articles</option>
                <option value="structures" {% if category == 'structures' %}selected{% endif %}>Structures</option>
                <option value="professionals" {% if category == 'professionals' %}selected{% endif %}>Professionals</option>
                <option value="events" {% if category == 'events' %}selected{% endif %}>Events</option>
            </select>
            <button type="submit">Search</button>
        </form>
    </div>
</body>
</html>
