*.pyc
*.pyo
*.pyd
__pycache__/
userAuth/user/migrations/0001_initial.py
fetchArticles/app/migrations/0001_initial.py
fetchArticles/app/migrations/0002_article.py
fetchArticles/app/migrations/0003_alter_article_title.py
fetchArticles/app/migrations/0004_alter_article_source.py
fetchArticles/app/migrations/0005_alter_article_link.py
