<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>HandiEase</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Accueil</h1>
    <ul>
        {% for article in articles %}
            <li>
                <h2><a href="{{ article.link }}">{{ article.title }}</a></h2>
                <p>{{ article.summary|safe }}</p>
                {% if article.image_url %}
                    <img src="{{ article.image_url }}" alt="{{ article.title }}">
                {% endif %}
                {% if article.published %}
                    <p> Publié le: {{ article.published }}</p>
                {% endif %}
                {% if article.source %}
                    <p> Source: {{ article.source }}</p>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</body>
</html>